* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100%;
  width: 390px;
  font-size: .85rem;
  color: #fff;
  background-color: #101010;
  padding: 7px;
  font-size: .85rem;
  font-family: Verdana, Tahoma, sans-serif;
  letter-spacing: 0.6px;
  overflow: hidden;
}

#root {
  height: 100%;
  position: relative;
  border-radius: 7px;
  background-color: #333;
  overflow: hidden;
}

nav {
  position: absolute;
  position: sticky;
  top: 0;
  height: 40px;
  border-bottom: 1px solid #101010;
}

nav button {
  border: 1px solid #333;
}

.btn {
  text-transform: uppercase;
  padding: 10px;
  cursor: pointer;
  background-color: rgb(63, 63, 63);
  color: #fff;
}

ul {
  height: calc(100% - 140px);
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 1px solid rgb(89, 89, 89);
  overflow: auto;
}

pre {
  display: none;
  background-color: rgb(199, 0, 0);
}

pre {
  word-break: break-word;
  white-space: pre-line;
}

li,
pre {
  margin: 0;
  padding: 7px 12px;
  border-bottom: 1px solid rgb(89, 89, 89);
}

.truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

li:last-child,
pre {
  border: 0;
}

.gray {color: #7a7a7a;}

.d-flex {
  display: flex;
}

.justify-between {
  justify-content: center;
}

.active {
  background-color: rgb(21, 21, 21);
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-1 {
  margin-bottom: 10px;
}

.mr-1 {
  margin-right: 10px;
}

.mt-1 {
  margin-top: 10px;
}

.mb-2 {
  margin-bottom: 20px;
}

.h-100 {
  height: 100%;
}

.w-100 {
  width: 100%;
}